/*############*/
/*# GLOBALS #*/
/*###########*/

body, h1, h2, p, ul, li, a {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans',sans-serif;
  color: #fff;
}

h1, h2 {
  font-family: 'Abel',sans-serif;
}

ul {
  list-style-type: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/*##########*/
/*# LAYOUT #*/
/*##########*/

.main-wrapper > div {
  border: 3px solid black;
}

.banner {background-color: steelblue;}
.timer {background-color: coral;}
.stat {background-color: violet;}
.img-grid {background-color: tomato;}
.main-footer {background-color: cyan;}

/*######*/
/*BANNER*/
/*######*/

.main-header {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-logo {
  padding: 10px;
  background-color: #f30c16;
}
.main-header .nav-logo {
  float: left;
}

.main-header .main-nav {
  float:right;
}

.banner {
  text-align:center;
  height: 938px;
  background-image: url('../img/skater.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-text {
  padding: 490px 35px 490px 35px;
  font-size: 20px;
  text-transform: uppercase
}

.tracking-button {
  background-color: #f30c16;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 24px;
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
  font-family: 'Abel',sans-serif;
}

.banner button {
  position: absolute;
  bottom: 0;
}
/*#########*/
/*# TIMER #*/
/*########*/

.timer {
  background-color:#ededed;
  text-align: center;
  padding: 25px 0;
}

.timer p {
  color:  #494949;;
}

.timer h1 {
  color: #f30c16;
  padding-bottom: 25px;
}

.timer-display {
  text-align: left;
}

.timer-header {
  border-bottom: 2px solid #dbdbdb;
  padding-bottom: 15px;
}
.timer-header > div{
  float: left;
}

.timer-header > button {
  float: right;
}

.timer-info {
  padding-top: 25px;
}

.timer-info p {
  padding-bottom: 25px;
}

.timer-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: #f30c16;
  color: #f30c16;
  background-color: #ededed;

}

.started-button {
  padding: 10px 20px;
  color: #f30c16;
  border: 2px solid #f30c16;
  background-color: #ededed;
  text-transform: uppercase;
  font-family: 'Abel',sans-serif;
  font-size: 24px;
}

/*########*/
/*# STAT #*/
/*########*/

.stat {
  text-align: center;
  background-color: #fff;
  padding: 25px 0;
}

.stat p {
  color:  #494949;;
}

.stat h1 {
  color: #f30c16;
}

/*############*/
/*# IMG GRID #*/
/*############*/

.img-grid {
  text-align: center;
}

.grid-cell {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 100%;
  position: relative;
}

.guy-one {
  background-image: url('../img/guyimg1.jpg');
}

.guy-two {
  background-image: url('../img/guyimg2.jpg');
}

.girl-one {
  background-image: url('../img/girlimg1.jpg');
}

.girl-two {
  background-image: url('../img/girlimg2.jpg');
}

.grid-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
}

/*###########*/
/*# FOOTER #*/
/*##########*/

.main-footer .logo {
  float: left;
}

.footer-nav, .footer-nav li {
  float: right;
}
/*############*/
/*# CLEARFIX #*/
/*############*/

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*##########*/
/*# MEDIA #*/
/*##########*/

@media(min-width: 768px) {
  .grid-cell {
    width: 50%;
    float:left;
  }
}
