/*############*/
/*# GLOBALS #*/
/*###########*/

body, h1, h2, h3, p, ul, li, a, div, span {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans',sans-serif;
  color: #fff;
}

h1, h2 {
  font-family: 'Abel',sans-serif;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/*##########*/
/*# LAYOUT #*/
/*##########*/

.main-wrapper > div {
  border: 3px solid black;
}

.main-wrapper {background-color: #ededed;}

.container {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
}

/*######*/
/*BANNER*/
/*######*/

.main-header {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.nav-logo {
  padding: 10px;
  background-color: #f30c16;
}

.nav-list {
  display: none;
}

.main-header .nav-logo {
  float: left;
}

.main-header .main-nav {
  float:right;
  padding-top: 10px;
}

.banner {
  text-align:center;
  height: 938px;
  background-image: url('../img/skater.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-text {
  padding: 300px 35px 300px 35px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.tracking-button {
  background-color: #f30c16;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 24px;
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
  font-family: 'Abel',sans-serif;
}

.banner button {
  position: absolute;
  bottom: 0;
}
/*#########*/
/*# TIMER #*/
/*########*/

.timer {
  text-align: center;
  padding: 25px 0;
}

.timer p {
  color:  #494949;;
}

.timer h1 {
  color: #f30c16;
  padding-bottom: 25px;
}

.timer-display {
  text-align: left;
}

.timer-header {
  border-bottom: 2px solid #dbdbdb;
  padding-bottom: 15px;
}
.timer-header > div{
  float: left;
}

.timer-header > button {
  float: right;
}

.timer-info {
  padding-top: 25px;
}

.timer-info p {
  padding-bottom: 25px;
}

.timer-display-tablet {
  display: none;
}

.timer-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: #f30c16;
  color: #f30c16;
  background-color: #ededed;

}

.started-button {
  padding: 10px 20px;
  color: #f30c16;
  border: 2px solid #f30c16;
  background-color: #ededed;
  text-transform: uppercase;
  font-family: 'Abel',sans-serif;
  font-size: 24px;
}

/*########*/
/*# STAT #*/
/*########*/

.stat {
  text-align: center;
  background-color: #fff;
  padding: 25px 0;
}

.stat p {
  color:  #494949;;
}

.stat h1 {
  color: #f30c16;
}

/*############*/
/*# IMG GRID #*/
/*############*/

.stat-tablet {
  display: none;
}

.img-grid {
  text-align: center;
  position: relative;
}

.grid-cell {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 100%;
  position: relative;
}

.guy-one {
  background-image: url('../img/guyimg1.jpg');
}

.guy-two {
  background-image: url('../img/guyimg2.jpg');
}

.girl-one {
  background-image: url('../img/girlimg1.jpg');
}

.girl-two {
  background-image: url('../img/girlimg2.jpg');
}

.grid-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
}

/*###########*/
/*# FOOTER #*/
/*##########*/

.main-footer .logo {
  float: left;
}

.footer-nav, .footer-nav li {
  float: right;
}
/*############*/
/*# CLEARFIX #*/
/*############*/

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*##########*/
/*# MEDIA #*/
/*##########*/

@media(min-width: 768px) {
  .grid-cell {
    width: 50%;
    float:left;
  }

  .main-nav img {
    display: none;
  }

  .banner {
    height: 600px;
  }

  .banner-text {
    padding: 225px 35px 225px 35px;

  }
  .main-nav .nav-list {
    display: initial;
  }

  .main-nav li {
    float: right;
    margin: 0 10px;
  }

  .nav-list li:first-of-type {
    text-transform: uppercase;
  }

  .timer-header {
    display: none;
  }

  .timer-display-tablet {
    display: block;
    width: 90%;
    background-color: #fff;
    line-height: 57px;
  }

  .timer-input-mobile {
    display: inline-block;
    width: 80%;
    height: 50px;
    text-align: left;
  }

  .timer-button-tablet {
    /*padding: 10px;*/
    float: right;
    background-color:#454545;
    color: #fff;
    height: 57px;
    width: 10%;
  }

  .timer-button-tablet p {
    color: #fff;
  }

  .timer-display-time {
    float: right;
    color: #494949;
    padding-right: 5px;
  }

}

@media (min-width: 1250px) {

  .stat {
    display: none;
  }

  .stat-tablet {
    display: block;
    width: 20%;
    z-index: 1;
    left: 50%;
    top:50%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -ms-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    text-align: center;
    background: #fff;
    padding: 25px;
    position: absolute;
  }

  .stat-tablet p {
    color: #494949;;
  }

  .stat-tablet h1 {
    color: #f30c16;
  }
}

/*#########*/
/*# ABOUT #*/
/*#########*/

.about-banner {
  text-align: center;
}

.about-banner h1{
  color: #f30c16;
  text-transform: uppercase;
  font-weight: bold;
}

.about-banner {
  color: #494949;
  font-family: 'Open Sans', sans-serif;
}

.about-banner .tracking-button {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  display:block;
  width: 100%;
  margin: 10px 0
}

.white {
  background-color: #fff;
  color: #f30c16;
}

/*######################*/
/*# ABOUT-MAIN-CONTENT #*/
/*#####################*/

.about-main-content {
  background-color: #fff;
}

.about-img {
  width: 100%;
}

.about-rowtext {
  color: #494949;
  padding: 25px;
}

.about-rowtext h2 {
  color: #f30c16;
}

.about-rowtext h3 {
  margin-bottom: 15px;
}


/* old mark up*/
/*<div class="timer-display-tablet group">
  <div class="timer-input-mobile group">
    <p>Reading toggle.com</p>
    <p class="timer-display-time"><span>11:13min</span></p>
  </div>
  <div class="timer-button-tablet">
    <p>Stop</p>
  </div>
</div>*/
